<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'site.title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="{{ asset('hello/test.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block start_body %}{% endblock %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">
                {{ 'site.title'|trans }}
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if app.request.attributes.get('_route') == 'home' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('home') }}">
                            {{ 'menu.home'|trans }}
                        </a>
                    </li>

                    <li class="nav-item{% if app.request.attributes.get('_route') == 'article_index' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('article_index') }}">
                            {{ 'menu.article.index'|trans }}
                        </a>
                    </li>

                    <li class="nav-item{% if app.request.attributes.get('_route') == 'article_new' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('article_new') }}">
                            {{ 'menu.article.new'|trans }}
                        </a>
                    </li>

                    <li class="nav-item{% if app.request.attributes.get('_route') == 'user_index' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('user_index') }}">
                            {{ 'menu.user.index'|trans }}
                        </a>
                    </li>

                    <li class="nav-item{% if app.request.attributes.get('_route') == 'user_new' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('user_new') }}">
                            {{ 'menu.user.new'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
