{% extends 'base.html.twig' %}

{% block title %}Article index foo - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Article index {{ foo }}</h1>

    {{ bar|first }}
    {{ bar|last }}
    {{ bar|join(',' , 'text.and'|trans) }}

    <script>
        var data = {{ bar|json_encode }};
    </script>

    {#  Comments #}
    <ul>
    {% for b in bar %}
        {#{% if b not in [2, 4, 6] %}#}
        {% if  b == 3 %}
            <li>Valeur masquée</li>
        {% elseif b % 2 != 0 %}
            <li>{{ b }}</li>
        {% else %}
            <li>Valeur interdite</li>
        {% endif %}
    {% else %}
        <li>Aucun bar</li>
    {% endfor %}
    </ul>



    <ul>
        {% for article in articles %}
            {% if article.id not in bar %}
                <li>
                    <a href="{{ path('article_show', {'id': article.id}) }}">
                        {{ article.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>




    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>CreatedAt</th>#}
                {#<th>Title</th>#}
                {#<th>Body</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% dump %}#}

        {#{% for article in articles %}#}
            {#<tr>#}
                {#<td>{{ article.id }}</td>#}
                {#<td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>{{ article.title }}</td>#}
                {#<td>{{ article.body }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('article_show', {'id': article.id}) }}">show</a>#}
                    {#<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="5">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
