{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
<<<<<<< HEAD
    {{ dump(user) }}
=======

    {% dump %}

>>>>>>> dec14582234495a258c4740b65825b16525e4048
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
<<<<<<< HEAD
                <th>Nombre de commentaires</th>
                <td>{{ user.comments|length }}</td>
            </tr>
            <tr>
                <th>Nombre d'articles</th>
                <td>{{ user.articles|length }}</td>
=======
                <th>Nb articles</th>
                <td>{{ user.articles|length }}</td>
            </tr>
            <tr>
                <th>Nb comments</th>
                <td>{{ user.comments|length }}</td>
>>>>>>> dec14582234495a258c4740b65825b16525e4048
            </tr>
        </tbody>
    </table>

    <h2>
        User's articles
    </h2>

    <ul>
        {% for article in user.articles %}
            <li>
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    <div>
        <h2>Liste d'articles de {{ user.email }}</h2>
    </div>
    <table class="table">
        <tbody>
        {% for article in user.articles %}
        <tr>
            <th>{{ article.id }}</th>
            <td>{{ article.title }}</td>
            <td><a href="{{ path('article_edit', {'id': article.id}) }}">edit</a></td>
        </tr>
        {% for comment in article.comments %}
        <tr>
            <th></th>
            <td>{{ comment.text }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
